<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie add</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>
    <h1 class="titulo">Agregar Película</h1>
    <br>
    <section class="formulario">
        
        <form action="/movies/create" method="POST">

            <label for="title">Title </label>
            <p><input type="text" name="title" id="" value="<%= locals.old?.title && old?.title %>"></p>
            <% if (locals.error?.title) { %>
                <p style="color: red;"><%= error.title.msg %></p>
            <% } %>

            <label for="rating">Rating </label>
            <p><input type="number" name="rating" id="" value="<%= locals.old?.rating && old?.rating %>" step="0.1" required> </p>
            <% if (locals.error?.rating) { %>
                <p style="color: red;"><%= error.rating.msg %></p>
            <% } %>

            <label for="awards">Awards </label>
            <p><input type="number" name="awards" id="" value="<%= locals.old?.awards && old?.awards %>" required></p>
            <% if (locals.error?.awards) { %>
                <p style="color: red;"><%= error.awards.msg %></p>
            <% } %>

            <label for="release_date">Release date </label>
            <p><input type="date" name="release_date" id="" value="<%= locals.old?.release_date && old?.release_date %>" required></p>
            <% if (locals.error?.release_date) { %>
                <p style="color: red;"><%= error.release_date.msg %></p>
            <% } %>

            <label for="length">Length </label>
            <p><input type="number" name="length" id="" value="<%= locals.old?.length && old?.length %>" required></p>
            <% if (locals.error?.length) { %>
                <p style="color: red;"><%= error.length.msg %></p>
            <% } %>

            <label for="genre">Genre </label>
            <select name="genre">
                <option value="select" >Seleccionar</option>
                <% generos.forEach(element => { %>
                    <option value="<%= element.id %>" <%= locals.old?.genre && old?.genre == element.id ? 'selected' : null%>>
                        <%= element.name %>
                    </option>
                <% }) %>
            </select>
            <% if (locals.error?.genre) { %>
                <p style="color: red;"><%= error.genre.msg %></p>
            <% } %>

            <br>
            <p> <button class="botonAgregar" type="submit">Agregar</button>
         
            <a  class="botonVolver" href="/movies">Listado de Películas</a></p>
        </form>

    </section>
    
</body>

</html>